.projects {
    background-color: #fff;
    margin: 7rem;
    
    
}

.projects .content{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin: 0;

}
.projects .title{
    font-size:2.9rem ;
    font-weight: bold;
    font-family:sans-serif;
    color: #462566;
    text-transform: capitalize;
    font-weight: 900;

}
.project-card {
    background-color: #f1eff3;
    border: 1px solid #fff;
    min-height: 14em;
    width: 22em;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 60px;
    transition: 0.7s ease;
    margin-top: 30px;
}

.project-card:hover {
   transform: scale(1.1);
   border: #50316f;
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-info span{

    color: #462566;
}

.project-category {
    font-size: 1em;
    color: #50316f;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
    color:#765498;
}

.more-details {
    text-decoration: none;
    color: #462566;
    margin-left: 7.5rem;
    margin-top: 2rem;
    font-size: large;
    font-family: 'Roboto Slab', serif;
}

.more-details:hover {
    color: rgb(38, 9, 44);
}
