*{

    font-family: 'Times New Roman', Times, serif;
    margin:0;
    padding:0;
    
    
  
  }
  
  #Chatapp{
    margin-bottom: 4rem;
    background-color: white;
    display: flex;
    height: 80vh;
  
  }
  
  #Chatside-bar{
  
    color: white;
    background-image: url('./1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  
  }
  #Chatside-bar p{
    cursor: pointer;
  
  }
 #Chatnewmessage{
    color: white;
    border: solid 0.5px white;
    background-color: transparent;
    border-radius: 2rem;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    margin-top: 3rem;
  }
  
  #ChatNav{
  
    border-top:solid 0.5px white;
    padding: 10px;
    margin: 10px;
  
  }
  #ChatNav p{
    color: rgb(250, 250, 250);
   font-size: 1rem;
  
  }
  
  #ChatNav a, a:visited, a:active {
    text-decoration: none;
    color: white;
  }
  
  #Chatmain{
    height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color:#10051b;
    
  }
 #chattitle{
  color: white;
  font-family: 'Roboto Slab', serif;
 }
  
  #Chatinfo{
    color:rgb(152, 154, 155);
    font-size: 11px;
    padding: 10px;
  }
  #Chatinput-container{
    position: relative;
    width: 100%;
    max-width: 650px;
  
  }
  #Chatbootom-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #ChatInput {
    width: 100%;
    border: none;
    font-size: 20px;
   background-color:#f9f9fa;
   color: rgb(15, 15, 15);
    padding: 12px 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05)0 54px 55px,
    rgba(0,0,0,0.05)0 -12px 30px,
    rgba(0,0,0,0.05)0 4px 6px,
    rgba(0,0,0,0.05)0 12px 3px,
    rgba(0,0,0,0.05)0 -3px 5px;
  }
  
  #Chatsubmit{
    position: absolute;
    margin-top: -40px;
    right: 0;
    cursor: pointer;
    margin-right: 20px;
    color: rgb(10, 10, 10);
  
  }
  #Chatp1{
    font-size: 1.7rem;
    font-family: 'Roboto Slab', serif;
  
  }
  
  #Chathistory{
  
    padding: 10px;
    margin: 10px;
    height: 100%;
    background-color: transparent;
  
  }
  
  #Chathistory li{
    list-style-type: none;
    padding: 15px 0;
    cursor: pointer;
    background-color:#221231;
    padding-left: 1rem;
    border-radius: 1rem;
    text-transform: capitalize;
    margin: 9px 0;
    width: 150px;
    
  }
  
  
  #Chatfeed{
    overflow: scroll;
    overflow: hidden;
    width: 97%;
    padding: 0;
    margin-left: 1rem;
    text-align: left;
  
  
  }
  
  #Chatfeed li{
  
    display: flex;
    background-color:#221231;
    width: 95%;
    padding: 29px 20px;
    margin: 20px 0;
    border-radius: 1rem;
    color: white;

  }
  
  #Chatfeed p{
    font-size: 16px;
    text-align: left;
  }
  #Chatrole{
    padding-right: 3rem;
    text-transform: capitalize;
  
  }
