*{


    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    
    
  
  }
  h1{
    margin-top: 30px;
    font-size: 2.3rem;
    font-family: 'Roboto Slab', serif;
  }
  #p1{
    margin-top: -10.9rem;
    color: #5f5f5f;
  }
  .app1{
    display: flex;

  
  }

  .main1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color:#120320;

  }

  #nav1{
    border-bottom:solid 0.5px white;
    display: flex;
  }
  button{
    color: white;
    border: solid 0.5px white;
    background-color: transparent;
    border-radius: 2rem;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    margin-top: -7rem;
  }
  
  #nav2{
  
    border-top:solid 0.5px white;
    padding: 10px;
    margin: 10px;
  
  }
  nav p{
    color: rgb(250, 250, 250);
   font-size: 1rem;
  
  }
  
  nav a, a:visited, a:active {
    text-decoration: none;
    color: white;
  }
  
.bottom{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inputcont{

    width: 100%;
    max-width: 650px;
    position: relative;

}
.info{
    color:rgb(152, 154, 155);
    font-size: 11px;
    padding: 10px;
  }
input{
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    color: black;
    margin-top: -4rem;

}

#submit{
    cursor: pointer;
    position: absolute;
    top:10px;
    right:30px;
    color: rgb(14, 13, 13);
    margin-right: 30px;
    font-size: 1.7rem;
    margin-top: -1rem;
}
#delete{
    cursor: pointer;
    position: absolute;
    top:10px;
    right:30px;
    color: rgb(252, 251, 251); 
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    background-color: rgb(38, 4, 51);
    padding: 3px;
    border-radius: 6px;
    margin-right: -1.6rem;
    margin-top: -1.1rem;
    
}

.imagesection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.imagesection img{

    width: 100%;
    height: 90%;
    margin-top: -4rem;
    


}
#chatTitle{
  color: white;
}
