*{
margin: 0;
padding: 0;
}

.logo{
    text-decoration: none;
    color: rgb(49, 23, 74);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.4rem;
    padding: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 600px;


}
.navbar-header{
    list-style: none;
    background: #f1eff3;
    padding: 1px;
    font-size: 1.1em;
    font-weight: 550;
    padding-left: 0px;
    width: 100%;
    text-transform: uppercase;
 

    
    
}
ul li{
    display: inline-block;
    position: relative;
   


}
ul li a{
    display: block;
    padding: 25px 25px;
    color: #10051b;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;




}
ul li ul.dropdown li{
    display: block;
    font-size: 0.3rem;


}
ul li ul.dropdown {
    width: 200px;
    background: #dee0e576;
    position: absolute;
    z-index: 999;
    display: none;
    width: 120px;
    padding: 20px 15px;
    font-size: 0.3rem;
    
}
ul li a:hover{
    background: #dee0e576;
    border-radius: 20px;
   
    



}
ul li:hover ul.dropdown {
  display: block;  

}

.droplink{
    color: #10051b;
    margin-left: -0.5rem;
    font-size: 1rem;
}