*{
    margin: 0;
    padding: 0;
    }
    
#logo{
    text-decoration: none;
    color: rgb(49, 23, 74);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.8rem;
    padding: 30px;
    font-family: 'Roboto Slab', serif;
    margin-left: 10px;
    margin-right: 600px;
    margin-top: 30px;
    


}
.navbar-header{
    list-style: none;
    background: #f1eff3;
    padding: 1px;
    font-size: 1.1em;
    font-weight: 550;
    padding-left: 0px;
    width: 99.80%;
    text-transform: uppercase;
   
 

    
    
}
ul li{
    display: inline-block;
    position: relative;
    margin-right: 1rem;
   


}
ul li a{
    display: block;
    padding: 25px 25px;
    color: #10051b;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;




}
ul li ul.dropdown li{
    display: block;
    font-size: 0.3rem;


}
ul li ul.dropdown {
    width: 240px;
    background: #dee0e576;
    position: absolute;
    z-index: 999;
    display: none;
    width: 120px;
    padding: 20px 15px;
    font-size: 0.1rem;
    
}
ul li .dropdown a:hover{
    background: #dee0e576;
    width: 70%;
    border-radius: 4px;
    


}

ul li a:hover{
    background: #dee0e576;
    width: 78%;


}
ul li a:visited{
    color: #10051b;
}
ul li:hover ul.dropdown {
  display: block;  

}

.droplink{
    color: #10051b;
    margin-left: -0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: left;
    padding: 30px;
}